# Rename this file to .env and fill in the required values.
LITELLM_PROXY_API_BASE=https://generativelanguage.googleapis.com/v1beta/openai/
LITELLM_PROXY_API_KEY=
LOGLEVEL=INFO
AGENT_OTEL_ENABLED=false
